version: '3.1'
services:
  samba:
    build: ./samba
    container_name: samba_sv
    ports:
      - "53:53"
      - "53:53/udp"
      - "88:88"
      - "88:88/udp"
      - "135:135"
      - "137:137/udp"
      - "138:138/udp"
      - "139:139"
      - "389:389"
      - "389:389/udp"
      - "445:445"
      - "464:464"
      - "464:464/udp"
      - "636:636"
      - "1024:1024"
      - "3268:3268"
      - "3269:3269"
      - "49143:49143"
      - "49443:49443"
      - "49543:49543"
    environment:
       SAMBA_REALM: samba.dom
       SAMBA_PASSWORD: Password1!
       SAMBA_HOST_IP: 192.168.10.17
       SAMBA_DNS_FORWARDER: 192.168.10.1
    volumes:
      - data-samba:/share
      - data-meta:/var/lib/samba
      - /dev/log:/dev/log
    hostname: samba_sv
  redmine:
    build: ./redmine
    container_name: redmine_sv
    #ports:
    #  - "8080:3000"
    environment:
      REDMINE_DB_POSTGRES: db
      REDMINE_DB_PASSWORD: link_redmine
      REDMINE_DB_USERNAME: redmine
      REDMINE_DB_DATABASE: redmine
      REDMINE_PLUGINS_MIGRATE: 1
      RAILS_RELATIVE_URL_ROOT: /redmine
      #SMTP_USER: address@hoge.com
      #SMTP_PASS: password
#    restart: always
    depends_on:
      - adminer
    links:
      - db
      - samba
      - rocketchat
    volumes:
      - data-redmine:/usr/src/redmine/files
      - data-gitbucket:/gitbucket
  gitbucket:
    #image: f99aq8ove/gitbucket
    build: ./gitbucket
    environment:
      GITBUCKET_DB_URL: jdbc:postgresql://db/gitbucket
      GITBUCKET_DB_USER: gitbucket
      GITBUCKET_DB_PASSWORD: link_gitbucket
      GITBUCKET_CERT: /var/lib/samba/private/tls/cert.pem
      JAVA_OPTS: -Xmx1g
      GITBUCKET_OPTS: --prefix=/gitbucket
    container_name: gitbucket_sv
    depends_on:
      - adminer
    volumes:
      - data-gitbucket:/gitbucket
      - data-meta:/var/lib/samba
    ports:
      - "29418:29418"
      #- "8418:8080"
    links:
      - db
      - samba
    #command: java -jar /opt/gitbucket.war --prefix=/gitbucket
  db:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: work
    container_name: postgresql_sv
    volumes:
      - data-db:/var/lib/postgresql/data
      - ./scripts/postgres_create_db_users.sql:/docker-entrypoint-initdb.d/create_db_users.sql:ro
#    volumes_from:
#      - data-database
  adminer:
    #image: adminer:fastcgi
    build: ./adminer
    container_name: adminer_sv
    environment:
      ADMINER_DEFAULT_SERVER: db
    links:
      - db
      - mongodb
    depends_on:
      - db
      - samba
      - mongodb
  nginx:
    image: nginx:alpine
    container_name: nignx_sv
    ports:
      - "80:80"
    volumes:
      - ./scripts/nginx_reverseproxy.conf:/etc/nginx/nginx.conf:ro
    links:
      - redmine
      - gitbucket
      - adminer
      - rocketchat
     #for debug
     #command: [nginx-debug, '-g', 'daemon off;']
  mongodb:
    image: mongo
    container_name: mongodb_sv
    #restart: always
    command: --smallfiles
    volumes:
      - data-mongodbdata:/data/db
      - data-mongodbdump:/data/dump
  rocketchat:
    image: rocket.chat:latest
    container_name: rocketchat_sv
    depends_on:
      - mongodb
    links:
      - mongodb
    #restart: always
    volumes:
      - data-rocketchat:/app/uploads
    environment:
      - ROOT_URL=https://localhost:3000/rocketchat
#logging:
#  driver: "json-file"
#  options:
#    max-size: "10m"
#    max-file: "100"
volumes:
  data-meta:
  data-redmine:
  data-gitbucket:
  data-db:
  data-samba:
  data-mongodbdata:
  data-mongodbdump:
  data-rocketchat:
