[Unit]
Description=Docker Redmine
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStop=/usr/bin/docker-compose stop
ExecStart=/usr/bin/docker-compose up --no-recreate
WorkingDirectory=/usr/local/docker/redmine

[Install]
WantedBy=multi-user.target
